# Ignore everything by default
**

# Allow specific files and directories needed for the build
!/app.py
!/requirements.txt
!/templates/
!/static/
!/.env
!upload_handler.py

# Explicitly ignore unnecessary files and directories
__pycache__/
*.pyc
*.log
*.sqlite3
*.db
*.env.example
*.DS_Store
.git
.vscode/
.idea/